@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=PT+Sans:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background: #F3F3F3;
    margin: 0;
}

/* HOME PAGE */
.header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(33, 36, 46, 0.7),rgba(33, 36, 46, 0.7)), url(img/sergei-akulich-unsplash.png);
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer {
    background-color: rgba(33, 36, 46, 0.7);
    min-height: 20vh;
    position: relative;
    width: 100%;
}

/* nav bar - start */
/* navigation menu */
.navbar {
    background-color: #2B3B50;
    display: flex;
    overflow: hidden;
}
/* navigation links */
.navbar a {
    color: white;
    flex: 1;
    float: left;
    font-size: 20px;
    padding: 16px 80px;
    text-align: center;
    text-decoration: none;
}
/* button color when on a certain page */
.active {
    background-color: #54B4B4;
}
/* background color to nav links on hover */
.navbar a:hover{
    background-color: #F0C251;
    color: black;
    padding: 16px inherit;
}
/* NAV BAR - end */

/* HOME PAGE - start */
.welcome {
    width: 90%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.welcome h1 {
    color: #F0C251;
}
.welcome p {
    color: white;
}

/* PAGE HEADINGS/STYLINGS - start */
/* heading 1 */
h1 {
    color: #2B3B50;
    font-family: 'Josefin Sans Black', sans-serif;
    font-size: 40px;
}
/* heading 2 */
h2 {
    color: #54B4B4;
    font-family: 'PT Sans', sans;
    font-size: 28px;
}
/* paragraph */
p, li {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
}

span.keywords {
    color:#EA4F5B;
    font-weight: bold;
}
/* PAGE HEADINGS/STYLINGS - end */
