@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&family=PT+Sans:wght@700&family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

html {
    background: #F3F3F3;
    margin: 0;
}
.content {
    margin: 20px auto;
    max-width: 80vw;
}

/* --- NAV BAR --- */
nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
}
.nav-links {
    flex: 1;
    text-align: right;
}
.nav-links ul li {
    display: inline-block;
    list-style: none;
    padding: 8px 20px;
    position: relative;
}
.nav-links ul li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}
.nav-links ul li ::after {
    background: #F0C251;
    content: '';
    display: block;
    height: 2px;
    margin: auto;
    transition: 0.5s;
    width: 0%;
}
.nav-links ul li :hover::after {
    width: 100%;
}
nav .fa {
    display: none;
}

/* --- HOME PAGE --- */
.welcome {
    width: 90%;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.welcome h1 {
    color: #F0C251;
    font-size: 60px;
}
.welcome p {
    color: white;
    margin: 5px 0 50px;
    font-size: 20px;
}
/* About Us button on home page */
.hero-btn {
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: white;
    border: 1px solid white;
    padding: 12px 40px;
    font-size: 18px;
    background: transparent;
    position: relative;
}
.hero-btn:hover {
    background: white;
    color: black;
    opacity: 0.7;
    transition: 0.5s;
}

/* --- IMAGES --- */
.image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width:60%;
}
.attribute {
    font-size: 13px;
    text-align: center;
}
.attribute2 {
    bottom: 0;
    color: white;
    position: fixed;
    font-size: 13px;
    margin-left: auto;
    margin-right: auto;
}
.attribute2 a {
    color: lightskyblue;
}

/* --- QUIZ --- */
*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong: 0;
    --hue-correct: 145;
}
.container{
    --hue: var(--hue-neutral);
    border-radius:5px;
    box-shadow: 0 0 5px 1px;
    margin: 0 auto;
    max-width: 80%;
    min-height: 30vh;
    max-height: 50vh;
    padding: 10px;
    width: 800px;
}
.question {
    font-size: 20px;
    padding-top: 3vh;
    text-align: center;
}
.btn-grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
    margin: 20px 0;
}
.btn-grid .btn {
    font-size: 15px;
    min-height: 5vh;
    min-width: 20vw;
}
.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
.btn:hover {
    border-color: black;
    border-width: 1.5px;
}
.btn.correct {
    --hue: var(--hue-correct);
    color: black;
}
.btn.wrong {
    --hue: var(--hue-wrong);
}
.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
.controls {
    align-items: center;
    display: flex;
    justify-content: center;
}
.hide {
    display: none;
}

/* --- TEXT STYLINGS --- */
h1 {
    color: #EA4F5B;
    font-family: 'Josefin Sans Black', sans-serif;
    font-size: 40px;
    padding: 30px 0;
    text-align: center;
}
h2 {
    color: #54B4B4;
    font-family: 'PT Sans', sans;
    font-size: 28px;
    padding-bottom: 5px;
}
p {
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    margin: 15px 0;
}
.list{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
}
b {
    color:black;
    text-decoration: bold 2px;
}

/* --- RESPONSIVE --- */
@media(max-width: 700px) {
    /* nav bar */
    .welcome h1 {
        font-size: 30px;
    }
    .welcome p {
        font-size: 17px;
    }
    .hero-btn {
        font-size: 18px;
    }
    .nav-links ul li {
        display: block;
    }
    .nav-links {
        background: #54B4B4;
        height: 100vh;
        position: absolute;
        right: -200px;
        text-align: left;
        top: 0;
        transition: 1s;
        width: 200px;
        z-index: 2;
    }
    nav .fa {
        color: white;
        cursor: pointer;
        display: block;
        font-size: 22px;
        margin: 10px;
    }
    .nav-links ul {
        padding: 30px;
    }
    /* text */
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 21px;
    }
    p{
        font-size: 15px;
    }
    .list{
        font-size: 15px;
    }
    .image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width:70vw;
    }
    /* quiz */
    .question {
        font-size: 15px;
    }
}